*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif , Arial, Arial Black, "微軟正黑體";
  } 
h1, h2, h3, h4 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color:darkkhaki;
    }
    p {
        background-color: lightblue;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
      }
.header{
    height:50px;
    border:1px solid #999;
    box-shadow: 0 0 5px #ccc;
}

.header ul{
    list-style-type: none;
}

.header ul li{
    display: inline-block;
    padding:5px;
    margin:0 10px;
    border:1px solid lightsteelblue;
    border-radius:5px;
}
.header ul li a{
    text-decoration:none; 
}
.nav{
    list-style-type: none;
}
.nav li{
    display: inline-block;
    padding:5px;
    margin:0 10px;
    border:1px solid #ccc;
    border-radius:3px;
}

.nav li a{
    text-decoration:none;
}

ul.wrap {
    display: table;
    margin: 0 auto;
    font-size: 1.2rem;
  }

table{
    border-collapse:collapse;
    border-bottom:　1px groove #999;
    box-shadow:0 0 5px #ccc;
    width: 90%; 
    margin-top: 20px;                                                                      
}
 table td, th {
    padding:5px;
    border-bottom:1px solid #ccc;
}
th {
    color: white;
    height: 40px;
    background:#333333;
    text-shadow: #CCCCCC 0.1em 0.1em 0.2em;
}
table tr:nth-child(odd){
    background: #99CCCC;
}
table tr:hover{
    background:#FF9999;
}    
.button {
    background-color: #4F709F; /* royalblue */
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
 
 .button2:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }
fieldset {
    margin: 10px;
    border:0;
    padding:50px;
    margin-bottom: 10px;background:#EEE;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
    background:linear-gradient(top,#EFEFEF,#FFFFFF);
    box-shadow:3px 3px 10px #666;
    -moz-box-shadow:3px 3px 10px #666;
    -webkit-box-shadow:3px 3px 10px #666;
    position:relative;
    }
legend {
    margin: 5px;
    width: 25%;
    padding:5px 10px;
    background-color:#4F709F;
    color:#FFF;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:2px 2px 4px #666;
    -moz-box-shadow:2px 2px 4px #666;
    -webkit-box-shadow:2px 2px 4px #666;
    position:absolute;
    left:10px;top:-11px;
    }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');